a
{
  color:red;
  margin:20px;
  font-size: 25px;
}

header
{
  width: 100%; height: 10vh;
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: cover;
}

img
{
  width:80px;
  height:80px;
}

#Logo
{
  height:90px;
  width:150px;
}

#Nationals
{
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55px;
}

#Intro
{
  font-weight: bold;
  color: darkblue;
}

#Mariners
{
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55px;
}

#Orioles
{
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55px;
}

#Jays
{
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55px;
}

#Phillies
{
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

#Ortiz
{
  height:500px;
  width:450px;
}

#Form
{
  background-color:skyblue;
}
nav
{
  width: 100%; height: 100%;
  background: royalblue;
  display: flex; justify-content: space-between;
  align-items: center;
}

nav.mainmenu
{
    width: 40%;
    display: flex; justify-content: space-around;
}

main
{
  width: 100%; height: 85vh;
  display: flex; justify-content: center;
  align-items: center;
  text-align: center;
  background-color:lightblue;
}

section h3
{
  letter-spacing: 3px; font-weight: 200;
}

section h1
{
  text-transform: uppercase;
}

section div
{
  font-size: 50px;
  border: 7px solid red;
}

table, th, td 
{
  border: 1px solid black;
}